<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DatabaseName</key>
	<string>PickledFrogDatabase04.db</string>
	<key>TextRed</key>
	<string>0</string>
	<key>TextGreen</key>
	<string>0</string>
	<key>TextBlue</key>
	<string>0</string>
	<key>StatusBarFont</key>
	<string>Roboto-Regular</string>
	<key>LineRed</key>
	<integer>0</integer>
	<key>LineGreen</key>
	<integer>0</integer>
	<key>LineBlue</key>
	<integer>0</integer>
	<key>MenuOptions</key>
	<array>
		<string>Home</string>
		<string>About Our Hostel</string>
		<string>Eat</string>
		<string>Party</string>
		<string>See</string>
		<string>Bookings</string>
		<string>Noticeboard</string>
		<string>Contact Us</string>
		<string>Feedback</string>
		<string>Developer</string>
	</array>
	<key>AppTitle</key>
	<string>THE PICKLED FROG</string>
	<key>HostelDetailsTitle</key>
	<string>ABOUT US</string>
	<key>HeadingFont</key>
	<string>OpenSans-CondensedBold</string>
	<key>BodyFont</key>
	<string>OpenSans-Light</string>
	<key>BookingURL</key>
	<string>http://www.axisrooms.com/beV2/displaySearchResultV3.html?room_number=0&amp;searcherId=30601908&amp;applicableDealId=0&amp;searchNumber=1&amp;allHotels=true</string>
	<key>TextSize</key>
	<integer>16</integer>
</dict>
</plist>
